/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-ja-testimonial-block {
	border: 1px dotted #f00;
}

.imageHolder {
	height: 100%;
	width: 50px;
}